<p id="notice"><%= notice %></p>

<p>
  <strong>Paid:</strong>
  <%= @card_charge.paid %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @card_charge.amount %>
</p>

<p>
  <strong>Refunded:</strong>
  <%= @card_charge.refunded %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @card_charge.customer_id %>
</p>

<%= link_to 'Edit', edit_card_charge_path(@card_charge) %> |
<%= link_to 'Back', card_charges_path %>
