<h1>Failed Charges</h1>

<table class="charges failed">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @failed_charges.each do |charge| %>
      <tr>
        <td><%= charge.customer.full_name %></td>
        <td><%= formatted_amount(charge.amount) %></td>
        <td><%= charge.created_at.to_formatted_s(:long) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Disputed Charges</h1>

<table class="charges disputed">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @disputed_charges.each do |charge| %>
      <tr>
        <td><%= charge.customer.full_name %></td>
        <td><%= formatted_amount(charge.amount) %></td>
        <td><%= charge.disputed_at.to_formatted_s(:long) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Succesful Charges</h1>

<table class="charges succesful">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @succesful_charges.each do |charge| %>
      <tr>
        <td><%= charge.customer.full_name %></td>
        <td><%= formatted_amount(charge.amount) %></td>
        <td><%= charge.created_at.to_formatted_s(:long) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
