<div class="list">
  <h1><%= title %></h1>
  <ul>
    <% data.each do |item| %>
      <li class="item state-<%= item.state %>">
        <%= item.customer.name %>, <%= item.amount / 100.0 %>
        <%= item.currency %>
        <%= item.created_at.strftime('%m/%d/%Y at %I:%M%p') %>
      </li>
    <% end %>
  </ul>
</div>