<tr class="transaction <%= transaction.status %>">
    <td><%= transaction.paid %></td>
    <td><%= transaction.amount %></td>
    <td><%= transaction.currency %></td>
    <td><%= transaction.refunded %></td>
    <td><%= transaction.customer.full_name %></td>
</tr>