<%= form_for(@credit_card_operation) do |f| %>
    <% if @credit_card_operation.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@credit_card_operation.errors.count, "error") %> prohibited this credit_card_operation from being saved:</h2>

          <ul>
            <% @credit_card_operation.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :amount %><br>
      <%= f.text_field :amount %>
    </div>
    <div class="field">
      <%= f.label :currency %><br>
      <%= f.text_field :currency %>
    </div>
    <div class="field">
      <%= f.label :paid %><br>
      <%= f.check_box :paid %>
    </div>
    <div class="field">
      <%= f.label :refunded %><br>
      <%= f.check_box :refunded %>
    </div>
    <div class="field">
      <%= f.label :user_id %><br>
      <%= f.collection_select :user_id, @users, :id, :name_with_initial %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
