<% if charges.present? %>
  <div class="<%= type %>">
    <% charges.each do |charge| %>
      <ul>
        <li><%= charge.decorate.customer_name %></li>
        <li><%= charge.decorate.amount %></li>
        <li><%= charge.decorate.date %></li>
      </ul>
    <% end %>
  </div>
<% else %>
  <p><%= t '.no_records' %></p>
<% end %>
