<section>
  <h2><%= t '.failed_charges' %></h2>
  <%= render 'failed_charges' %>
</section>

<section>
  <h2><%= t '.disputed_charges' %></h2>
  <%= render 'disputed_charges' %>
</section>

<section>
  <h2><%= t '.successful_charges' %></h2>
  <%= render 'successful_charges' %>
</section>
