<h1>Failed charges</h1>

<table class="charges-failed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @failed.each do |charge| %>
      <tr>
        <td><%= charge.customer.name %></td>
        <td><%= charge.amount %></td>
        <td><%= charge.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>Disputed charges</h1>

<table class="charges-disputed">
  <thead>
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th>Date</th>
  </tr>
  </thead>

  <tbody>
  <% @disputed.each do |charge| %>
      <tr>
        <td><%= charge.customer.name %></td>
        <td><%= charge.amount %></td>
        <td><%= charge.created_at %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<h1>Successful charges</h1>

<table class="charges-successful">
  <thead>
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th>Date</th>
  </tr>
  </thead>

  <tbody>
  <% @successful.each do |charge| %>
      <tr>
        <td><%= charge.customer.name %></td>
        <td><%= charge.amount %></td>
        <td><%= charge.created_at %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
