<p id="notice"><%= notice %></p>

<h1>Failed Charges</h1>

<table class="failed-list">
  <thead>
    <tr>
      <th>Customer name</th>
      <th>Charge amount</th>
      <th>Charge fail date</th>
    </tr>
  </thead>

  <tbody>
    <% @failed_charges.each do |charge| %>
      <tr class="failed">
        <td><%= charge.customer.full_name %></td>
        <td><%= number_to_currency charge.amount / 100 %></td>
        <td><%= charge.created_at.strftime('%F') %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h1>Disputed Charges</h1>

<table class="disputed-list">
  <thead>
    <tr>
      <th>Customer name</th>
      <th>Charge amount</th>
      <th>Charge dispute date</th>
    </tr>
  </thead>

  <tbody>
    <% @disputed_charges.each do |charge| %>
      <tr class="disputed">
        <td><%= charge.customer.full_name %></td>
        <td><%= number_to_currency charge.amount / 100 %></td>
        <td><%= charge.created_at.strftime('%F') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Successful Charges</h1>

<table class="successful-list">
  <thead>
    <tr>
      <th>Customer name</th>
      <th>Charge amount</th>
      <th>Charge date</th>
    </tr>
  </thead>

  <tbody>
    <% @successful_charges.each do |charge| %>
      <tr class="successful">
        <td><%= charge.customer.full_name %></td>
        <td><%= number_to_currency charge.amount / 100 %></td>
        <td><%= charge.created_at.strftime('%F') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
