
<%= simple_form_for(@charge) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :customer, label_method: :full_name  %>
    <%= f.input :paid %>
    <%= f.input :amount %>
    <%= f.input :currency %>
    <%= f.input :refunded %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
