%h1 Listing charges

%table
  %tr
    %th Paid
    %th Created
    %th Amount
    %th Currency
    %th Refunded
    %th Customer
    %th
    %th
    %th

  - @charges.each do |charge|
    %tr
      %td= charge.paid
      %td= charge.created
      %td= charge.amount
      %td= charge.currency
      %td= charge.refunded
      %td= charge.customer
      %td= link_to 'Show', charge
      %td= link_to 'Edit', edit_charge_path(charge)
      %td= link_to 'Destroy', charge, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Charge', new_charge_path
