<p id="notice"><%= notice %></p>

<h1>Failed Charges</h1>
<%= render 'charge_list', charges: @charges.failed, css_classes: 'failed' %>

<h1>Disputed Charges</h1>
<%= render 'charge_list', charges: @charges.disputed, css_classes: 'disputed' %>

<h1>Successful Charges</h1>
<%= render 'charge_list', charges: @charges.successful, css_classes: 'successful' %>

<%= link_to 'Customers', customers_path, class: 'btn btn-warning' %>
<%= link_to 'New Charge', new_charge_path, class: 'btn btn-primary' %>
